<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Style.css">
    <title>Document</title>
</head>
<body>
    <header class="T1" >
        <div id="d1" >
            <img src="static/Escudo_unach.png">
            
        </div>
        <div id="d2">
            <H1>
                UNIVERSIDAD AUTONOMA DE CHIAPAS
            </H1>
        </div>
    </header>
    
    <SEction>
        <DIV class="T2" id="T2">
            <img src="static/niña.png">
        </DIV>

        <div class="T3" id="T3">
            <ul>
                <li>
                    <h2>ACCESO</h2>
                </li>
                <LI>
                    <h3> Correo UNACH </h3>
                </LI>
                <li> 
                    <input class="input" type="text" required autofocus>
                </li>
                <LI>
                    <h3> Contraseña </h3>
                </LI>
                <li> 
                    <input class="input" type="text" required autofocus>
                </li>
                <li>
                    <button> <h4>Ingresar</h4> </button>
                </li>
            </ul>
        </div>
    </SEction>
    <footer> copryght derecho reservado a Cedrick Marcial Quintero </footer>
</body>
</html>